rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {

      allow read: if request.auth != null;

      allow create: if request.auth != null
                    && request.auth.uid == userId;

      allow update: if request.auth != null
                    && request.auth.uid == userId;

      allow delete: if false;

      match /favorites/{targetUid} {

        allow read: if request.auth != null
                    && request.auth.uid == userId;

        allow create: if request.auth != null
                      && request.auth.uid == userId
                      && targetUid != userId;

        allow delete: if request.auth != null
                      && request.auth.uid == userId;

        allow update: if false;
      }
    }

    match /invitations/{pairId} {

        allow read: if request.auth != null
                    && request.auth.uid in resource.data.participants;

        allow create: if request.auth != null
                      && request.auth.uid == request.resource.data.fromUid
                      && request.resource.data.fromUid != request.resource.data.toUid
                      && request.resource.data.status == "pending";

        allow update: if request.auth != null
                      && request.auth.uid == resource.data.toUid
                      && resource.data.status == "pending"
                      && request.resource.data.status in ["accepted", "rejected"]
                      && request.resource.data.fromUid == resource.data.fromUid
                      && request.resource.data.toUid == resource.data.toUid
                      && request.resource.data.pairId == resource.data.pairId
                      && request.resource.data.participants == resource.data.participants;

        allow delete: if false;
      }
    }
  }
